@font-face {
	font-family: JosefinSans;
	font-display: swap; src: url("../fonts/JosefinSans-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: JosefinSans;
	font-display: swap; src: url("../fonts/JosefinSans-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
