.header {
	// background: url('../img/header/bg.jpg') cover (center/center) no-repeat;
	// height: 1096px;
	&__banner {
		padding-bottom: 139px;
		padding-top: 10px;
	}
	&__btn {
		padding-top: 46px;
	}
	&__navbar {
		display: flex;
		justify-content: space-between;
	}
	&__leftRight {
		gap: 50px;
		display: flex;
	}
	&__right {
		position: relative;
	}
}

.nav {
	&__list {
	display: flex;
	gap: 42px;
	padding-top: 59px;
	}
	&__right {
		gap: 55px;
		display: flex;
	}

}



.buttons {
	width: 180px;
	height: 50px;
	border-radius: 25px;
	background: $btnColor;
		color: $whiteColor;
		line-height: 24px;
		font-size: 18px;
}

.buttons:hover {
    background: var(--gradient, linear-gradient(93deg, #2e9aed 11.62%, #121075 75.39%));;
    color: #fff !important;
}

.card__btn:hover {
	transition: .5s ease-in-out;
	background: var(--gradient, linear-gradient(93deg, #2e9aed 11.62%, #121075 75.39%));;
}

nav.nav ul li a,
.nav__list ul li a {
  position: relative;
}
nav.nav ul li a:after,
.nav__list ul li a:after {
	transition: 0.7s;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: $redColor;
  height: 1px;
}
nav.nav ul li a:hover:after {
  width: 100%;
}

.nav__list ul li a {
  transition: all 2s;
}

.nav__list ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
.nav__list ul li a:hover {
  color: $redColor;
  z-index: 1;
}
.nav__list ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

a:hover {
	transition: 1s;
	color: $lightBlackColor;
}


// HEADER

@keyframes rotating {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.left {
	&__shortText {
		font-size: 23px;
		gap: 31px;
		display: flex;
		// margin-top: 139px;
		color: $lightBlackColor;
		.decoration {
			display: flex;
			gap: 29px;
		}
	}
	&__title {
		margin-top: 26px;
		color: $redColor;
		font-size: 68px;
		font-weight: 700;
		line-height: 75px;
		span {
			color: $lightBlackColor;
		}
	}
	&__text {
		margin-top: 31px;
		color: $blackColor;
		line-height: 29px;
		margin-bottom: 36px;
	}
	&__decorationImg {
		position: relative;
		z-index: 1;
		object-fit: cover;
		-webkit-animation: 10s linear infinite rotating;
		animation: 10s linear infinite rotating;
	}
	&__decoration {
		
		top: -20px;
		right: -230px;
		position: relative;
		width: 150px;
		height: 150px;
	}
}


.right {
	&__box {
		opacity: 0.6;
		right: 400px;
		top: -80px;
		position: absolute;
		width: 211.488px;
		height: 95px;
		border-radius: 10px;
		background: $whiteColor;
		display: flex;
		box-shadow: 1px 1px 51px 31px rgba(244,193,183,0.75);
	}
	&__box2 {
		padding-right: 14px;
		flex-direction: row-reverse;
		right: -9px;
		top: 457px;
		opacity: 0.6;
		position: absolute;
		width: 211.488px;
		height: 95px;
		border-radius: 10px;
		background: $whiteColor;
		display: flex;
		box-shadow: 1px 1px 51px 31px rgba(244,193,183,0.75);
	}
	&__img {
		margin-top: -30px !important;
		max-width: 100%;
		height: 100%;
	}
}


.box {
	&__left {
		padding: 18px 0 16px 16px;
	}
	&__stars {
		display: flex;
		margin-top: 4px;
	}
	&__title {
		font-size: 10px;
		color: $lightBlackColor;
		line-height: 12px;
	}
	&__price {
		margin-top: 4px;
		color: $redColor;
		font-size: 10px;
		font-weight: 700;
		line-height: 10px; /* 150% */
	}
	&__reviews {
		padding-left: 5px;
		font-size: 8px;
		color: $lightBlackColor;
		line-height: 12px; /* 150% */
	}
	&__img {
		max-width: 84.836px;
	}
}

.burger {
	display: none;
}


@media (max-width: #{$md2}px) {
	.header__container {
		text-align: center;
	}
	.left__decoration {
		top: -70px;
		z-index: -1;
	}
	.left__shortText .decoration {
		gap: 10px;
	}
	.left__shortText {
		gap: 5px;
		width: 210px;
	}
	.header__leftRight {
		flex-direction: column-reverse;
	}
	.right__img {
		display: flex;
		justify-content: center;
	}
	.right__box {
		display: none;
	}
	.right__box2 {
		display: none;
	}
	.buttons {
		// display: none;
	}
	.header__btn {
		display: none;
	}

	.burger { display: flex }

    .nav{
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: $backgroundColor;
        animation: burgerAnimation 0.4s;
		&__right {
			flex-direction: row-reverse;
			gap: 25px;
		}
    }

    .nav ul{
        flex-direction: column;
        row-gap: 30px;
    }
}

@keyframes burgerAnimation {
    from {opacity: 0}
    to {opacity: 1}
}


.open{
    display: flex !important;
}

.nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
	align-items: center;
}

.burger{
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
	right: 0;
    top: 60px;
}

.burger span{
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: $redColor;
}

.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $redColor;
    transition: all 0.3s ease 0s;
}

.burger::before { top: 0 }

.burger::after { bottom: 0 }


/* Добавляем класс active для анимации иконки бургера */
.burger.active span { transform: scale(0) }

.burger.active::before{
	
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.active {
	right: 70px;
}

.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}


@media (max-width: #{$md3}px) {
	.active {
		right: 10px;
	}
	.left__decoration {
		right: -180px;
	}
	.header__banner {
		max-width: 100%;
		max-height: 100%;
		padding-right: 5px;
	}
	.burger {
		top: 50px;
	}
}
