// <CONNECTING FONTS>=============================================================

@import "fonts";

// <CONNECTING FONTS>=============================================================

// <DEFAULT FONT>=============================================================
$fontFamily: 'Josefin Sans';
$fontSize: 18px;
$fontWeight: 500;
// <DEFAULT FONT>=============================================================

// <VARIABLES>=====================================================================
$maxWidthContainer: 1167;
$md1: 1025.98;
$md2: 881.98;
$md3: 479.98;

$backgroundColor: #FFE6D7;
$lightBlackColor: #446381;
$blackColor: #826F8C;
$redColor: #EB8382;
$whiteColor: #fff;
$btnColor: var(--gradient, linear-gradient(93deg, #4499D9 11.62%, #6E6CC1 75.39%));
// <VARIABLES>=====================================================================

// <RESET, GENERAL PARAMETERS>=====================================================
@import "null";

body {
    height: 100%;
    font-family: $fontFamily;
    font-weight: $fontWeight;
    color: $blackColor;
    font-size: $fontSize;
    line-height: 150%;
    background-color: $backgroundColor;
    &._lock {
        overflow: hidden;
    }
}
// <RESET, GENERAL PARAMETERS>======================================================

// <SHELL>========================================================================
.wrapper {
    // min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
// <SHELL>========================================================================

// <MAIN GRID>==================================================================
[class*="__container"] {
    padding: 0 15px;
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    box-sizing: content-box;
}
// <MAIN GRID>==================================================================

// <CONNECTING PAGE STYLES AND ELEMENTS>=============================================
@import "header";
@import "footer";
// <CONNECTING PAGE STYLES AND ELEMENTS>=============================================

